%h1
  Archivos Importados

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Id
      %th Archivo
      %th Contactos
      %th Estado
      %th Acciones
  %tbody
    = render @imports