%tr
  - params[:cols].each do |column|
    %td= contact.send column
  %td
    =link_to edit_contact_path(contact), class: 'btn btn-primary'  do
      %span.glyphicon.glyphicon-edit
      Edit
    = link_to contact_path(contact), method: 'delete', class: 'btn btn-danger', confirm: 'Are you sure you want to delete the contact?' do
      Delete
      %span.glyphicon.glyphicon-remove