<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div class="container">
    <strong>{{message}}.</strong> {{content}}.
  </div>
</div>