%h1 
  Reports

  %small
    = link_to new_report_path, class: 'btn btn-primary pull-right' do
      %span.glyphicon.glyphicon-plus
      New Report

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Id
      %th Nombre
      %th Descripci&oacute;n
      %th Acciones
  %tbody
    = render @reports